<p id="notice"><%= notice %></p>
<h1>Employees</h1>
<div class="ui breadcrumb">
  <%= link_to "Home", users_path, class: "section"%>
  <i class="right angle icon divider"></i>
  <div class="active section">Employees</div>
</div>

<table class="ui single line table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Contacted?</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
          <td>
            <%= link_to employee_path(employee) do %>
              <%= employee.first_name %> <%= employee.last_name %>
            <% end %>
          </td>
          <td><%= employee.email %></td>
        <td><i class="large green checkmark icon"></i></td>
        <!-- <td><%= employee.user %></td> -->
        <!-- <td><%= link_to 'Show', employee_path(employee) %></td> -->
        <!-- <td><%= link_to 'Edit', edit_employee_path(employee) %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_user_employee_path(current_user) %>
