<h1>USER SHOW</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>

</p>

<p>
  <strong>Last name:</strong>

</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @user.employees %>
</p>

<%= link_to 'Edit', edit_user_path %> |
<%= link_to 'Back', user_employees_path(current_user) %> |

<%= link_to 'Destroy', @employee, method: :delete, data: { confirm: 'Are you sure?' } %>
