<!DOCTYPE html>
<html>
  <head>
    <title>OnboardTest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if current_user %>
    <%= current_user.email %> <br>
    id: <%= current_user.id %> <br>
  <% end %>


    <div class="ui container">

      <% if user_signed_in? %>
        <div class="ui secondary menu">
            <%= link_to 'Home', users_path, :class => 'ui item  active' %>
            <%= link_to 'New Employee', new_user_employee_path(current_user), :class => 'ui item' %>
            <%= link_to 'Employees', user_employees_path(current_user), :class => 'ui item' %>
          <div class="right menu">
            <div class="item">
            <%= current_user.email %>
            </div>
            <!--
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'ui item' %>

             -->
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'ui item'  %>
          </div>
        </div>
        <% else %>
          <div class="ui secondary menu">
            <div class="right menu">
              <div class="ui item">

              </div>
                <%= link_to "Sign up", new_user_registration_path, :class => 'ui item'  %>
                <%= link_to "Login", new_user_session_path, :class => 'ui item'  %>
            </div>
          </div>

        <% end %>

      <%= yield %>

    </div>

  </body>
</html>
